<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
    <button onclick="saveReq()">글작성</button>
    <button onclick="listReq()">글 목록</button>
    <button onclick="PagingReq()">페이징 목록</button>

</body>
    <script>
        const saveReq = () => {
            location.href="/board/save"
        }

        const listReq=()=>{
            location.href="/board/list"
        }

        const PagingReq=()=>{
            location.href="/board/paging"
        }

    </script>

</html>